.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.base-page-background {
    background-image: url(https://img.freepik.com/free-vector/online-shopping-concept-illustration_114360-1084.jpg?t=st=1654200616~exp=1654201216~hmac=490ea3c…&w=996);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.footer-section,
.header-section {
    background-color: darkgray;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    margin-top: auto;
    justify-content: center;
}

.login-button,
.signup-button,
.logout-button {
    margin: 5px;
}

.badge.rounded-pill {
    margin-right: 5px;
}

.category-items {
    display: flex;
}

.category-options {
    margin: 10px;
}

.category-options button {
    background-color: lightgray;
    font-weight: bold;
}

.sub-items-cards,
.selected-item-details {
    display: flex;
    flex-wrap: wrap;
}

.cart-details-section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.finalize-cart-item {
    width: 15em;
}

.checkout-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.checkout-items {
    display: flex;
    flex: 0 1px;
    justify-content: center;
    width: 15em;
    margin-bottom: 10px;
}

.form-section {
    display: flex;
}

.form-section label {
    flex: 0 80px;
}

.form-section input {
    flex: 0 50vw;
}

.checkout-modal-header{
    text-align: center;
}

.checkout-modal-header .close{
    display: none;
}

.checkout-modal-button{
    display: flex;
    justify-content: center !important;
}

.card-function-button{
  padding: 5px !important;
}

.empty-cart-description{
    margin: auto;
    font-size: 20px;
    font-weight: 600;
}

.order-details{
    display: flex;
}

.order-details label {
    flex: 0 70px;
}

@media screen and (max-width:450px) {
    .card {
        width: 70vw;
    }
    .item-image.card-img {
        width: 100%;
        object-fit: contain;
    }
    .sub-items-cards, .selected-item-details{
        justify-content: center;
    }
    .category-items{
        justify-content: center;
    }
}
@media screen and (max-width: 700px) and (min-width: 451px),(min-width:450px){
    .card {
        width: 40vw;
    }
    .item-image.card-img {
        width: 100%;
        height: 10em;
        object-fit: contain;
    }
}

@media screen and (min-width:701px) {
    .card {
        width: 20vw;
        max-width: calc(100% - 2em);
    }
    .item-image.card-img {
        width: 100%;
        height: 8em;
        object-fit: contain;
    }
}





.show-cart {
    width: 40%;
    float: right;
    background-color: gainsboro;
    height: 100%;
    display: block;
    overflow-y: auto;
}

.hide-cart {
    display: none;
}