.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-section,
.header-section {
    background-color: darkgray;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    margin-top: auto;
    justify-content: center;
}

.login-button,
.signup-button,
.logout-button {
    margin: 5px;
}

.badge.rounded-pill {
    margin-right: 5px;
}

.category-items {
    display: flex;
}

.category-options {
    margin: 10px;
}

.category-options button {
    background-color: lightgray;
    font-weight: bold;
}

.sub-items-cards,
.selected-item-details {
    display: flex;
    flex-wrap: wrap;
}

.item-image {
    object-fit: contain;
    height: 23vw ;
    width: 100%;
}

.card {
    width: 50vh;
    max-width: calc(100% - 200px);
}

.cart-details-section {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.finalize-cart-item {
    width: 15em;
}

.checkout-details {
    display: flex;
    flex-direction: column;
}

.checkout-items {
    width: 30%;
}

.form-section {
    display: flex;
}

.form-section label {
    flex: 0 80px;
}

.form-section input {
    flex: 1;
}

.checkout-modal-header{
    text-align: center;
}

.checkout-modal-header .close{
    display: none;
}

.card-function-button{
  padding: 5px !important;
}







.show-cart {
    width: 40%;
    float: right;
    background-color: gainsboro;
    height: 100%;
    display: block;
    overflow-y: auto;
}

.hide-cart {
    display: none;
}