@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* .loader {
    border: 20px solid #f3f3f3;
    position:relative;
    left:50%;
    border-radius: 90%;
    border-top: 20px solid purple;
    border-bottom: 20px solid green;
    border-right: 20px solid red;
    border-left:20px solid orange;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
  } */

  .loader {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 200;
    border: 20px solid black;
    border-radius: 90%;
    border-top: 20px solid #808080;
    border-bottom: 20px solid #808080;
    border-right: 20px solid #4d4b4b;
    border-left:20px solid #4d4b4b;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
  }

  .loader:after{
    content: "Loading.....";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }