/* html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  overflow-y: scroll;
}

.container-section {
  height: 100%;
  overflow-y: scroll;
} */

.footer-section,
.header-section {
  background-color: darkgray;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

/* .footer-section {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 5px;
} */

.category-options {
  padding: 10px;
}

.category-items {
  display: flex;
  margin: 10px;
}

.category-options button {
  background-color: lightgray;
  font-weight: bold;
}

.sub-items-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.card {
  display: inline-table !important;
}

.costume-size {
  border: 2px solid black;
  margin: 2px;
  padding: 2px;
}

.cart-items-section {
  width: 40%;
  float: right;
  background-color: gainsboro;
  height: 600px;
  display: none;
}

.show-cart {
  width: 40%;
  float: right;
  background-color: gainsboro;
  height: 100%;
  display: block;
  overflow-y: auto;
}

.hide-cart {
  /* width: 40%;
  float: right;
  background-color: gainsboro;
  height: 100%; */
  display: none;
}

.checkout-details label {
  margin: 10px;
  width: 20%;
}

.checkout-details input {
  margin: 10px;
}

.order-details {
  margin: 10px;
}

.show-cart-button,
.close-cart-item,
.finalize-cart-item {
  margin: 10px;
}

.login-modal-body,
.form-group label {
  margin-right: 5%;
}

.login-modal-body,
.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.login-modal-body,
.form-group input[type="password"] {
  margin-left: 1%;
}

.error-display {
  font-weight: bold;
  color: red;
}

@media screen and (min-width: 991px) {
  .sub-items-cards .card {
    width: 25%;
  }

  .sub-items-cards .card-img {
    width: 100%;
  }

  .selected-item-details .card {
    width: 25%;
  }

  .selected-item-details .card-img {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  /* z-index: :1050; ---- this is the z-index of modal so keep other z-indices less then this value */
  .sub-items-cards {
    position: inherit;
    z-index: 500;
  }
  .sub-items-cards .card {
    width: 90% !important;
  }

  .sub-items-cards .card-img {
    width: 100%;
  }

  .show-cart {
    position: relative;
    z-index: 800;
    width: 100%;
    height: unset;
  }
  .selected-item-details .card {
    width: 40%;
  }
  .selected-item-details .card-img {
    width: 100%;
  }
}

.card-body {
  padding: 5px !important;
}

.checkout-items {
  margin: 10px;
}

@media screen and (max-width: 767px) {
  /* .checkout-details label{
    width: 25%;
  } */

  .checkout-details input {
    margin: 0;
  }
}

body {
  /* margin: 0; */
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-section {
  margin-top: auto;
}
